services:
  app:
    container_name: app
    build:
      context: .
      dockerfile: ./docker/air.dockerfile
    tty: true
    ports:
      - 8080:8080
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/app
    dns:
      - 10.0.2.20
    networks:
      - app-network
    env_file:
      - .env

  db:
    container_name: db
    image: postgres:17.6
    volumes:
      - dbdata:/var/lib/postgresql/data
    environment:
      TZ: Asia/Tokyo
      PGTZ: Asia/Tokyo
    env_file:
      - .env
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 1s
      timeout: 3s
      retries: 30
    networks:
      - app-network

  localstack-s3:
    container_name: localstack-s3
    image: localstack/localstack:latest
    env_file:
      - .env
    environment:
      - SERVICES=s3
      - REGION_NAME=ap-northeast-2
      - DEBUG=1
      - DATA_DIR=/tmp/localstack/data
    ports:
      - "4566:4566"
    networks:
      app-network:
        ipv4_address: 10.0.2.20
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - ./scripts/aws-init.sh:/etc/localstack/init/ready.d/aws-init.sh

volumes:
  dbdata:
networks:
  app-network:
    name: app-network
    driver: bridge
    ipam:
      config:
        - subnet: 10.0.2.0/24
