name: Go Test

on:
  pull_request:
    branches: ['main', 'develop']

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.6'

      - name: Install dependencies
        run: go mod download

      - name: Run unit tests
        run: go test ./...

  integration-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.6'

      - name: Install dependencies
        run: go mod download

      - name: Run integration tests
        run: go test -p 1 -tags=integration ./internal/infrastructure/...